<script lang="ts">
	import { {{properCase name}} } from '$lib/index.js';
</script>

<section class="main">
	<h1><tt>{{properCase name}}</tt></h1>

	<div id="{{kebabCase name}}" class="container">
		<{{properCase name}} />
	</div>


</section>
